@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

:root {
  --color-text-blue: #35a2b8;
  --color-text-white: #fff;
  --color-yellow: #fec802;
  --color-purple: #8261ee;
  --color-black: #1e1e1e;
  --color-bg: #eff2f5;
  --color-blue: #103178;
}

* {
  font-family: "Inria Serif", serif;
  box-sizing: border-box;
}

/* button  */
.button {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 40px;
  color: white;
  transition: all 0.4s;
  border: 1px solid #fff;
}

.button:hover {
  color: var(--color-yellow);
  transition: all 0.4s;
  border: 1px solid var(--color-yellow);
}

.button-yellow {
  background-color: var(--color-yellow);
}

.button-yellow:hover {
  background-color: var(--color-text-white);
}

.button-blue {
  background-color: var(--color-text-blue);
}

.button-blue:hover {
  color: var(--color-text-blue);
  transition: all 0.4s;
  background-color: var(--color-text-white);
  border: 1px solid var(--color-text-blue);
}

/* end button  */

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.bg-info {
  background-color: var(--color-blue) !important;
}
