.section1 {
  background: var(--color-bg);
}

.section1 .row {
  align-items: center;
}

.section1 .box1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 50px;
  padding-left: 0;
  height: auto;
  width: 100%;
}

.section1 .box1 .title {
  width: 100%;
  font-size: 23px;
  color: var(--color-text-blue);
}

.section1 .box1 .sub-title {
  width: 100%;
  font-size: 55px;
  font-weight: 600;
  color: var(--color-text-blue);
}

.section1 .box2 .image {
  object-fit: cover;
  height: 500px;
  width: auto;
}

.section1 .box2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section1 .button {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.section1 .button:hover {
  color: var(--color-yellow);
}

/* section 9 */
.section9 {
  margin-top: 50px;
}

.section9 .row2 .tag {
  text-align: center;
  margin-bottom: 50px;
}

.section9 .row2 .tag img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 15px;
}

.section9 .row2 .tag .tag-content .title {
  font-size: 30px;
  color: var(--color-black);
}

.section9 .row2 .tag .tag-content .title:hover {
  color: var(--color-pink);
}

.section9 .row2 .tag .tag-content .desc {
  margin: 20px 0 32px 0;
  font-size: 20px;
  color: var(--color-text);
}

.section9 .row2 .tag .tag-content .button {
  padding: 12px 20px;
  font-size: 13px;
}

footer {
  background-color: var(--color-text-blue);
}

footer #copyright {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
}

footer #copyright h3 {
  font-size: 20px;
  color: white;
  margin: 0;
}

footer #social {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
  justify-content: space-around;
  margin: 0;
}

footer #social .item {
  margin: 20px 0;
}

footer #social .item a i {
  display: inline-block;
  color: white;
}